@page
@model MyIdol.Pages.MyIdolcategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MyIdolCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MyIdolCategory.ShortName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolCategory.ShortName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MyIdolCategory.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolCategory.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MyIdolCategory.MyIdolCategoryID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
