@page
@model MyIdol.Pages.MyIdolcategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "ข้อมูล";
}

<h2>ข้อมูล</h2>

<div>
    <h4>MyIdol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           ชื่อย่อ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolCategory.ShortName)
        </dd>
        <dt>
            ชื่อเต็ม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MyIdolCategory.MyIdolCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
