@page
@model MyIdol.Pages.MyIdolcategoryAdmin.EditModel

@{
    ViewData["Title"] = "เเก้หัวข้อ";
}

<h2>เเก้หัวข้อ</h2>

<h4>กรอกข้อมูลต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MyIdolCategory.MyIdolCategoryID" />
            <div class="form-group">
                ชื่อย่อ
                <input asp-for="MyIdolCategory.ShortName" class="form-control" />
                <span asp-validation-for="MyIdolCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อเต็ม
                <input asp-for="MyIdolCategory.FullName" class="form-control" />
                <span asp-validation-for="MyIdolCategory.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
