@page
@model MyIdol.Pages.MyIdolcategoryAdmin.IndexModel

@{
    ViewData["Title"] = "จัดหัวข้อ";
}

<h2>ระบบจัดหัวข้อ</h2>

<p>
    <a asp-page="Create">สร้างหัวข้อ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อย่อ
            </th>
            <th>
                ชื่อเต็ม
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MyIdolCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MyIdolCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MyIdolCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MyIdolCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
