@page
@model MyIdol.Pages.MyIdolAdmin.CreateModel

@{
    ViewData["Title"] = "รายงาน";
}

<h2>รายงาน</h2>

<h4>กรอกข้อมูลดังนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                เลือกรายงาน
                <select asp-for="MyIdolEvent.MyIdolCategoryID" class ="form-control" asp-items="ViewBag.MyIdolCategoryID"></select>
            </div>
            <div class="form-group">
                วันที่
                <input asp-for="MyIdolEvent.ReportDate" class="form-control" />
                <span asp-validation-for="MyIdolEvent.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                รายละเอียด
                <textarea asp-for="MyIdolEvent.MyIdolDetail" class="form-control"rows=5 cols=50 /></textarea>
                <span asp-validation-for="MyIdolEvent.MyIdolDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                เวลา
                <input asp-for="MyIdolEvent.Time" class="form-control" />
                <span asp-validation-for="MyIdolEvent.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่
                <input asp-for="MyIdolEvent.Place" class="form-control" />
                <span asp-validation-for="MyIdolEvent.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
