@page
@model MyIdol.Pages.MyIdolAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูล";
}

<h2>ลบข้อมูล</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MyIdolEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            เลือกรายงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.MyIdolCat.MyIdolCategoryID)
        </dd>
        <dt>
            วันที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.ReportDate)
        </dd>
        <dt>
            รายละเอียด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.MyIdolDetail)
        </dd>
        <dt>
            เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.Time)
        </dd>
        <dt>
            สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.Place)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MyIdolEvent.MyIdolEventID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
