@page
@model MyIdol.Pages.MyIdolAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียด";
}

<h2>รายละเอียด</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            เลือกรายงาน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.MyIdolCat.ShortName)
        </dd>
        <dt>
            วันที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.ReportDate)
        </dd>
        <dt>
            รายละเอียด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.MyIdolDetail)
        </dd>
        <dt>
            เวลา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.Time)
        </dd>
        <dt>
            สถานที่
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MyIdolEvent.Place)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MyIdolEvent.MyIdolEventID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
