@page
@model MyIdol.Pages.MyIdolAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyIdolEvent[0].MyIdolCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyIdolEvent[0].ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyIdolEvent[0].MyIdolDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyIdolEvent[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyIdolEvent[0].Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MyIdolEvent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MyIdolCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyIdolDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MyIdolEventID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MyIdolEventID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MyIdolEventID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
